@media (min-width: 900px) {
  .grid_T1 {
    margin-inline: auto;
    padding-inline: 0;
    grid-template-columns: 1fr 1fr;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .textLeft {
    text-align: left;
  }
  .textRight {
    text-align: right;
  }
  .general_text {
    margin-top: 0px;
  }
  .grid_T2 {
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;

    align-items: center;
  }
  .T2_text {
    grid-column: 2;
    text-align: left;
    margin-inline: 0;
  }
  .T2_desktop {
    grid-column: span 3;
  }
  .T2_desktop img {
    margin-inline: auto;
    display: block;
  }

  .grid_T3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_T3 img,
  .grid_T3 a {
    max-height: 16vw;
    width: auto;
    margin-inline: auto;
  }
  .T3_text {
    text-align: center;
  }

  .grid_T4 img {
    height: auto;
    max-width: 600px;
    margin-inline: auto;
    column-gap: 10px;
  }

  .grid_T5 {
    margin-inline: auto;
    padding-inline: 0;
    grid-template-columns: 1fr 1fr;
  }
  #mig_grid {
    grid-template-columns: 1fr 1fr;
  }
  #mig {
    margin-right: 0;
  }
}
