#site {
  background-color: var(--blue);
  margin-inline: 22px;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px -1px 2px var(--black);
}
.grid_T5 img,
video {
  width: 100%;
  margin-bottom: 10px;
}

.grid_T5 {
  display: grid;
  width: 100%;
  padding-inline: 20px;
  column-gap: 20px;
  row-gap: 10px;
}

.T5_text {
  margin-inline: auto;
}
