#site {
  background-color: var(--red);
  margin-inline: 22px;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}
.grid_T1 img,
video {
  width: 100%;
}
.grid_T1 {
  display: grid;
  width: 100%;
  column-gap: 20px;
  row-gap: 10px;
}

.T1_text {
  margin-inline: auto;
}
